
.homepage-header{
    font-size: 35px;
    font-family: 'Calibri', sans-serif;
    color: white;
    width: 100%;
    background: navy;
    vertical-align: middle;
    position: relative;
}

.header-logo{
    vertical-align: middle;
    position: relative;
}

img.footer-logo{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.homepage-title{
    font-size: 55px;
    color: black;
    vertical-align: center;
    text-align: center;
}

body{
    font-family: 'Calibri', sans-serif;
    background-color: white;
    color: black;
}

.contact-info{
    font-size: 30px;
    color: black;
    vertical-align: center;
    text-align: center;
}

.container{
    color: black
}