body {
    background-color: #E3E3E3;
    color: black;
    font-family: Georgia, serif;
    font-size: 15px;
}

.centering-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.headshot {
    max-height: 400px;
    height: auto;
    width: auto;
}

.side-ad {
    height: auto;
    width: auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

p {
    font-size: 1.5em;
}

.disclaimer {
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: auto;
    max-width: 40%;
}


.myButton {
	background-color:#c60021;
	border-radius:23px;
	display:inline-block;
	cursor:pointer;
	color:#f6f6f8;
	font-family: Georgia, serif;
	font-size:28px;
	padding:23px 36px;
    text-decoration:none;
}
.myButton:hover {
	background-color:#000000;
}
.myButton:active {
	position:relative;
	top:1px;
}

.link {
    text-decoration: none;
    color:#f6f6f8;
}

.button-container {
    padding: 2px 20px;
}

.row {
    display: flex;
}

.center-column {
    flex: 50%;
    padding: 5px;
}

.column {
    flex: 25%;
    padding: 5px;
}

.LCM {
    max-width: 85%;
}

@media only screen and (max-device-width: 970px) {
    .row {
        flex-direction: column;
    }
    
    .center-column {
        order: 1;
        padding: 5px;
    }
    
    .column {
        order: 2;
        padding: 5px;
    }

    form {
        font-size: 2em;
    }

    .LCMButton {
        font-size: 1em;
    }

    .side-projects-title-2 {
        display: none;
    }

    .LCM {
        max-width: 90%;
    }
}

@media only screen and (max-device-width: 450px) {
    .disclaimer {
        max-width: 90%;
    }
}

@media only screen and (min-device-width: 450px) and (max-device-width: 900px) {
    .disclaimer {
        max-width: 60%;
    }
}

div.LCM {
    border: 2px solid black;
    padding: 5px;
}