body {
    background-color: #E3E3E3;
    color: black;
    font-family: Georgia, serif;
    font-size: 15px;
}

.centering-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.headshot {
    max-height: 400px;
    height: auto;
    width: auto;
}

.side-ad {
    height: auto;
    width: auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

p {
    font-size: 1.5em;
}

.disclaimer {
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: auto;
    max-width: 40%;
}


.myButton {
	background-color:#c60021;
	border-radius:23px;
	display:inline-block;
	cursor:pointer;
	color:#f6f6f8;
	font-family: Georgia, serif;
	font-size:28px;
	padding:23px 36px;
    text-decoration:none;
}
.myButton:hover {
	background-color:#000000;
}
.myButton:active {
	position:relative;
	top:1px;
}

.link {
    text-decoration: none;
    color:#f6f6f8;
}

.button-container {
    padding: 2px 20px;
}

.row {
    display: flex;
}

.center-column {
    flex: 50%;
    padding: 5px;
}

.column {
    flex: 25%;
    padding: 5px;
}

.LCM-title {
    padding: 0px;
    margin: 0px;
}

.my-work {
    font-size: 1.3em;
}

p.my-work {
    font-size: 1.1em;
    margin: 5px 60px 20px 60px;
}

div.bots , div.LCM {
    border: 2px solid black;
    max-width: 85%;
    margin-top: 35px;
}

a.bots {
    color: inherit;
    text-decoration: none;
    font-size: 1.2em;
}

.bots-title {
    padding: 0px;
    margin: 0px;
}

p.bots , p.LCM {
    font-size: 1.1em;
    padding: 0px 10px;
    margin: 7px 0px;
}

img.RLE {
    max-width: 90%;
}

@media only screen and (max-device-width: 970px) {
    .row {
        flex-direction: column;
    }
    
    .center-column {
        order: 1;
        padding: 5px;
    }
    
    .right-column{
        order: 2;
        padding: 5px;
    }

    .left-column{
        order: 3;
        padding: 5px;
    }

    form {
        font-size: 2em;
    }

    .LCMButton {
        font-size: 1em;
    }

    .side-projects-title-2 {
        display: none;
    }

    div.LCM , div.bots {
        max-width: 90%;
    }

    input {
        font-size: 1em;
    }

    .my-work {
        font-size: 1.1em;
    }
    
    p.my-work {
        font-size: 0.9em;
        margin: 5px 60px 20px 60px;
    }

    p.bots {
        font-size: 1.1em;
        padding: 0px 10px 8px 10px;
        margin: 10px 0px;
    }
}

@media only screen and (max-device-width: 450px) {
    .disclaimer {
        max-width: 90%;
    }
}

@media only screen and (min-device-width: 450px) and (max-device-width: 900px) {
    .disclaimer {
        max-width: 60%;
    }
}